Makefile
acp/Makefile
AmigaIconReader/Makefile
ApolloExplorerPC/Makefile
ApolloExplorerPC/qmake_qmake_qm_files.qrc
qmake_qmake_qm_files.qrc
ApolloExplorerPC/.DS_Store
*.pro.user
*.pro.user.*
log.txt
acp/acp
.qmake.stash
AmigaIconReader/AmigaIconReader.app/Contents/Info.plist
AmigaIconReader/AmigaIconReader.app/Contents/PkgInfo
AmigaIconReader/AmigaIconReader.app/Contents/MacOS/AmigaIconReader
ApolloExplorer-Windows
ApolloExplorer-macOS
ApolloExplorer-Linux
ApolloExplorer-Amiga
ApolloExplorer-macOS.dmg
