Source: vnetpc
Section: editors
Priority: optional
Maintainer: Ronnie Beck <ronybeck@themenz.biz>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake
Standards-Version: 3.9.6
Homepage: https://github.com/ronybeck/vnet

Package: vnetpc
Architecture: any
Depends: libqt5network5 (>= 5.12.8), libqt5gui5 (>= 5.12.8)
Description: A nifty GUI based tool for getting files to and from your Amiga
